.datatable-wrapper{
    box-shadow: 0px 15px 10px -15px #111;
}

.datatable-top{
    background-color: rgb(238, 238, 238);
}
.datatable-input{
    border-radius: 3px;
    border: none;
}
.datatable-selector{
    border-radius: 3px;
    border: none;
}

.datatable-bottom{
    background-color: rgb(238, 238, 238);
}